.contactus-map{
    position: relative;
    &-content{
        position: relative;
        bottom: 32rem;
        background-color: white;
        padding: 1rem;
        right: 20rem;
        width: 25%;
        text-align: right;
    ul{
        list-style: none;
        padding: 0;
        li{
            margin-bottom: 1rem;
            h5{
                font-weight: 900;
            }
            i{
                padding-left: 1rem;
                font-size: 2rem;
                color: #1976bc;
            }
            span{
                display: block;
                width: 11rem;
                color: #888888;
                line-height: 19px;
            }

        }
    }
        p{
            font-size: .9rem;
        }
    }
    @media screen and  (max-width: 992px)  {
        &-content {
             right: 0; 
             width: unset; 
      }
    }
    
}