.breadcrumb-section{
    background-image:linear-gradient(to right, #1976bca1 0%, #8dc6456e  100%), url(../images/bgn-heading-06.jpg);
    background-position: center top;
    text-align: center;
    .breadcrumb-content{
        padding-bottom: 5.625em;
        padding-top: 5.625em;

    }
}