.form{
    &-input{        
        line-height: 1rem;
        width: 100%;
        display: block;
        padding: .8em;
        border-radius: 0;
        outline: none !important;
        border: none;
        transition: all 1s ease-in-out;
        &-border{
            box-shadow: 0 0 15px rgba(24,24,24,.15);
            border: 1px solid rgba(24,24,24,.2);
            &:hover{
                border: 1px solid #1976bc;
            }
        }
    }
}